<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}My App{% endblock %}</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="d-flex flex-column min-vh-100">
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-gradient">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">E-Commerce Flask Site</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('main.product_list') }}">Shop All</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('wallet.wallet_home') }}">Wallet (£{{ current_user.wallet_balance|round(2) }})</a>
            </li>           
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('cart.view_cart') }}">Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main class="flex-grow-1">
    <div class="container py-4">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, msg in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ msg }}
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}

      {% block content %}{% endblock %}
    </div>
  </main>

  <!-- FOOTER -->
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  {% block scripts %}{% endblock %}
</body>

</html>